.blog-section {
    margin: 100px;
}

.blog-heading {
    margin: 50px 50px 75px 50px;
    padding-top: 50px;
    text-align: center;
    font-size: 2.0rem;
    font-weight: 600;
    color: #ad6c6c;
}
a:focus, a:hover {
    color: initial !important;
}

.blog-content {
    width: 95%;
    margin: auto;
    margin-bottom: 45px;
    padding: 5%;
}
#box:before, #box:after{
    content:'';
    z-index:-1;
    width:200px;
    position:absolute;
    bottom:20px;
    left:10px;
    top:80%;
    box-shadow:0 20px 15px #777;
    transform:rotate(-5deg);
}

#box:after{
    left:auto;
    right:10px;
    transform:rotate(5deg);
}

#box{
    background :#f9f4f4;
    position:relative;
}

.blog-title {
    text-transform: capitalize !important;
    letter-spacing: 0px !important;
    color: #965050;
    margin-bottom: 5px;
}

.blog-date {
    font-size: 0.8rem;
    margin-bottom: 30px;
}

.blog-description {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
}

.blog-image {
    width: 100%;
    height: 100%;
    margin: 30px 0px;
}

.image {
    width: 100%;
}

@media screen and (max-width: 649px) {
    .row {
        margin-right: 0px;
        margin-left: 0px;
    }
    .blog-section {
        margin: 140px 0px 100px 0px;
    }
    .blog-heading {
        margin: 0px;
        padding-top: 30px;
    }
}