.form-control {
  padding: 10px 20px 10px 10px;
}

.error {
  color: red;
  font-size: small;
}

.hotel-image {
  width: 100%;
  height: 200px;
}

.hotel-description {
  height: 200px;
}

.hotel-type {
  font-size: 10px;
  color: #a3b9a3;
  padding: 2px 10px;
  border: 1px solid #8b8dd2;
  border-radius: 5px;
}

.hotel-rating {
  color: green;
  font-size: 12px;
  padding: 2px 10px;
  position: relative;
  top: 2px;
}

.hotel-booking-rating {
  color: green;
  font-size: 12px;
}

.col-lg-12.col-md-12.col-sm-12.animate-box.fadeInUp.animated {
  margin: 1px 0px;
}

.hotel-details {
  background: #fff;
}

.hotel-description {
  padding: 5px 0px;
  position: relative;
  left: -10px;
}

.hotel-title {
  font-weight: bold;
  color: #000;
  font-size: 20px;
}

.hotel-location {
  font-size: 14px;
  color: #8b8dd2;
  border-radius: 10px;
  margin: 5px 0px;
  padding-left: 3px;
}

.hotel-service {
  font-size: 12px;
  background: #8b8dd24f;
  color: #ad7979;
  padding: 2px 10px;
  border-radius: 10px;
}

.hotel-booking-services {
  margin-bottom: 10px;
}

.hotel-about {
  padding: 5px 0px 5px 10px;
  font-size: 14px;
}

.hotel-quotation-title {
  padding: 10px 0px 0px 0px;
  font-size: 15px;
}

.hotel-quotation {
  padding: 0px 0px 0px 5px;
  font-size: 13px;
}

.hotel-fare {
  font-size: 25px;
  color: #ef6437;
  font-weight: 600;
  position: relative;
  top: 10px;
}

.hotel-book {
  font-size: 15px;
  background: #ef6437;
  color: #fff;
  font-weight: 600;
  text-align: center;
  border-radius: 0px;
  padding: 10px 10px;
  position: relative;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.hotel-large-image {
  width: 100%;
  height: 250px;
}

.hotel-image-collection {
  padding: 0px;
  margin: 0px;
}

.hotel-sort-image {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.hotel-container {
  background: #fff;
}

.personal-details {
  padding: 20px 0px 15px 10px;
}

.hotel-booking-name {
  padding: 10px 0px;
  text-align: left;
  color: #000;
  font-weight: bold;
  font-size: 16px;
}

.hotel-booking-location {
  text-align: right;
  padding: 10px 0px;
  color: #a9a9d8;
}

.read-more {
  color: #9393b5;
}

.hotel-booking-description {
  padding: 50px 0px 10px 0px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px dashed black;
}

.hotel-booking-description-content {
  padding: 25px 0px;
  text-align: center;
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  #nsg-taxi-hotel {
    padding: 2em 0;
  }
  .hotel-description {
    padding: 5px 10px 5px 10px;
    position: initial;
    left: 0px;
    height: auto;
  }
  .hotel-fare {
    position: initial;
    top: 0px;
    text-align: left;
    padding: 10px 10px 5px 10px;
  }
  .hotel-booking-location {
    text-align: left;
    padding: 0px 10px 10px 0px;
  }
  #nsg-taxi-hotel-booking {
    padding: 1em 0;
  }
  .hotel-booking-container {
    background: #fff;
    width: 96%;
  }
  .personal-details {
    padding: 20px 0px 15px 0px;
  }
  .hotel-booking-name {
    padding: 50px 0px 10px 0px;
  }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 992px) {}