* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", Arial, sans-serif;
}

.nsg-taxi-package-container {
  width: 96%;
}

.form-control {
  padding: 10px 20px 10px 10px;
}

.error {
  color: red;
  font-size: small;
}

.package-image {
  width: 100%;
  height: 200px;
}

.package-description {
  height: 200px;
}

.specialmargin {
  margin-top: 180px;
}

@media screen and (max-width: 620px) {
  .specialmargin {
    margin-top: 80px;
  }
  .specialmargin_round_trip {
    margin-top: 180px;
  }
}

.marginm {
  margin-top: 1180px;
}

.usericon {
  margin-top: 10px;
}

.package-type {
  font-size: 10px;
  color: #a3b9a3;
  padding: 2px 10px;
  border: 1px solid #8b8dd2;
  border-radius: 5px;
}

.package-rating {
  color: green;
  font-size: 12px;
  padding: 2px 0px;
  position: relative;
  top: 2px;
}

.package-booking-rating {
  color: green;
  font-size: 12px;
}

.col-lg-12.col-md-12.col-sm-12.animate-box.fadeInUp.animated {
  margin: 1px 0px;
}

.package-details {
  background: #fff;
}

.package-description {
  padding: 5px 0px;
  position: relative;
  left: -10px;
}

.package-title {
  font-weight: bold;
  color: #000;
  font-size: 20px;
}

.package-location {
  font-size: 14px;
  color: #8b8dd2;
  border-radius: 10px;
  margin: 5px 0px;
}

.package-service {
  font-size: 12px;
  background: #8b8dd24f;
  color: #ad7979;
  padding: 2px 10px;
  border-radius: 10px;
}

.package-booking-services {
  margin-bottom: 10px;
}

.package-about {
  padding: 5px 0px 5px 10px;
  font-size: 14px;
}

.package-quotation-title {
  padding: 10px 0px 0px 0px;
  font-size: 15px;
}

.package-quotation {
  padding: 0px 0px 0px 5px;
  font-size: 13px;
}

.package-fare {
  font-size: 25px;
  color: #ef6437;
  font-weight: 600;
  margin-top: 10px;
}

.package-book {
  cursor: pointer;
  font-size: 15px;
  background: #ef6437;
  color: #fff;
  font-weight: 600;
  text-align: center;
  border-radius: 0px;
  padding: 10px 10px;
  margin-top: 10px;
  position: relative;
  top: 10px;
}

.package-large-image {
  width: 100%;
  height: 250px;
}

.package-image-collection {
  padding: 0px;
  margin: 0px;
}

.package-sort-image {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.package-container {
  background: #fff;
}

.personal-details {
  padding: 20px 0px 15px 10px;
}

.package-booking-name {
  padding: 10px 0px;
  text-align: left;
  color: #000;
  font-weight: bold;
  font-size: 16px;
}

.package-booking-location {
  text-align: right;
  padding: 10px 0px;
  color: #a9a9d8;
}

.read-more {
  color: #9393b5;
}

.package-booking-description {
  padding: 50px 0px 10px 0px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px dashed black;
}

.package-booking-description-content {
  padding: 25px 0px;
  text-align: center;
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  #nsg-taxi-package {
    padding: 2em 0;
  }
  .package-description {
    padding: 5px 10px 5px 10px;
    position: initial;
    left: 0px;
    height: auto;
  }
  .package-fare {
    position: initial;
    top: 0px;
    text-align: left;
    padding: 10px 10px 5px 10px;
    margin-top: 10px;
  }
  .package-book {
    position: relative;
    top: 24px;
  }
  .package-booking-location {
    text-align: left;
    padding: 0px 10px 10px 0px;
  }
  #nsg-taxi-package-booking {
    padding: 1em 0;
  }
  .package-booking-container {
    background: #fff;
    width: 96%;
  }
  .personal-details {
    padding: 20px 0px 15px 0px;
  }
  .package-booking-name {
    padding: 50px 0px 10px 0px;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 992px) {
}

/*Offer Cards Section*/

.specialoffer {
  background: cornsilk;
}

.containeroffer {
  padding: 20px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  margin: 50px auto;
}

.cardoffer {
  position: relative;
  width: 280px;
  height: 350px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 8px 18px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-right: 15px;
  transition: 00.3s;
}

.cardoffer:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px --10px rgba(0, 0, 0, 0.25);
}
.cardoffer:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 250px;
  top: 0;
  left: 0;
  background-image: linear-gradient(to top, #f78536, #ec7200);
  clip-path: circle(290px at 50% -48.5%);
}

.headeroffer {
  position: relative;
  height: 190px;
}

.questionoffer {
  position: absolute;
  top: 0rem;
  right: 0.5rem;
  font-size: 1.2rem;
  color: #fff;
  opacity: 0.8;
  transition: 0.3s;
  z-index: 3;
  text-decoration: none;
}

.questionoffer:hover {
  opacity: 1;
}

.mainoffer {
  position: absolute;
  width: 90%;
  height: 75%;
  top: -0.5rem;
  left: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*
.mainoffer .image {
  position: relative;
  width: 65px;
  height: 90px;
  margin-top: 10px;
  border-radius: 100%;
  background: url("/public/assets/css/images/specill.gif") no-repeat center /
    cover;
  border: 4px solid #f78536;
  margin-bottom: 1px;
  overflow: hidden;
}
*/

.offerhead {
  color: orange;
  font-size: 3rem;
}

.dest {
  font-size: 3rem;
  color: white;
  background: linear-gradient(to right, #e9a322 0%, #bb030330 100%);
  font-weight: 500;
  line-height: 1;
  margin: 5px 0;
  margin-top: auto;
}

.dest0 {
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
  line-height: 1;
  margin: 5px 0;
  margin-block-start: auto;
}

.dest1 {
  font-family: sans-serif;
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  line-height: 1;
  margin: 15px 0 5px 0;
}

.dest2 {
  font-family: "Cutive Mono", monospace;
  font-size: 1.5rem;
  opacity: 0.8;
  color: #fff;
}

.contentoffer {
  display: flex;
  padding: 1.7rem 2.5rem 2.6rem 2.5rem;
}

.aboutoffer {
  padding-bottom: 6%;
}

.poffer {
  color: darkorange;
  margin-left: 17px;
  font-size: 1.6rem;
  margin-top: -2rem;
  font-weight: 600;
  margin-bottom: -0.1rem;
}

.textoffer {
  color: rgb(151, 150, 148);
  font-weight: 450;
  line-height: 2;
  font-size: 13px;
  margin-left: 1.6rem;
  margin-bottom: -0.5rem;
}

.buttons-wrapoffer {
  display: flex;
  margin-top: -2px;
  margin-left: 20px;
  margin-right: 20px;
  height: 50px;
  width: 500px;
}

.book-wrap,
.tc-wrap {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.book-wrap:hover,
.tc-wrap:hover {
  flex: 5;
}

.bookoffer {
  padding: 9.6px 0;
  width: 370%;
  background: linear-gradient(to right, #ec7200 0%, #ec7200 140%);
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 18.1px;
  margin-right: 3px;
}

.bookoffer :hover {
  text-decoration: #000;
}

.tc {
  padding: 7.6px 0;
  width: 100%;
  height: 34px;
  border: 2px solid #ec7200;
  color: #ec7200;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 3px;
  border-radius: 18.1px;
}




.popupoffer {
  height: 500px;
}


  .tcs {
    font-size: 15px;
  }
}



.offertc {
  font-weight: 500;
  box-sizing: inherit;
}

.tcul {
  margin-top: 15px;
  list-style: none;
}

.tcs {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-size: 12px;
}

.tcpopup {
  margin-left: 10px;
}

.viewmore {
  color: #f78536;
}


@media screen and (max-width: 620px) {
  .containeroffer {
    width: 100%;
  }

  .dest,
  .dest0,
  .dest1 {
    font-size: 20px;
  }
  .cardoffer {
    width: 80%;
    margin: 2rem;
  }
}


/* Modal Popup For Offers */
/* 
.modal-open {
  padding: 8px 16px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: none;
}

.modal-content {
  background: #fff;
  margin-top: 130px;
  width: 24.5%;
  height: 63%;
  margin-left: auto;
  margin-right: 300px;
  border-radius: 4px;
  z-index: 4;
} */

/* The Close Button */
/* .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} */
