<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5346HCJ" height="0" width="0"
        style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div id="custom-loader">
    <img src="/assets/images/loader.gif" id="custom-loader-gif" alt="NSG TAXI LOADER" />
</div>