<footer>
    <div id="footer">
        <div class="container">
            <div class="row row-bottom-padded-md">
                <div class="col-md-4 col-sm-4 col-xs-12 nsg-taxi-footer-link">
                    <h3>Pages</h3>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/hotels">Hotels</a></li>
                        <li><a href="/packages">Packages</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/blogs">Blogs</a></li>
                        <li><a href="https://www.dashboard.nsgtaxi.com" target="_blank"Login</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 nsg-taxi-footer-link">
                    <h3>Help & FAQ</h3>
                    <ul>
                        <li><a href="/terms-and-conditions">Terms & Conditions</a></li>
                        <li><a href="/privacy-policy">Privacy Policy</a></li>
                        <li><a href="/cancellation-and-refund-policy">Cancellation & Refund Policy</a></li>
                        <li><a href="/customer-agreement">Customer Agreement</a></li>
                        <li><a href="/vendor-agreement">Vendor Agreement</a></li>
                        <li><a href="/hotel-agreement">Hotel Agreement</a></li>
                        <li><a href="/package-agreement">Package Agreement</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 nsg-taxi-footer-link">
                    <h3>Contact & Support</h3>
                    <ul>
                        <li>
                            <a href="javascript:void(0)">
                                Address: Shop No. 209, Central Arcade, DLF-2<br>
                                Gurugram, Haryana 122002 - India
                            </a>
                        </li>
                        <li><a href="mailto:info@nsgtaxi.com">Email: info@nsgtaxi.com</a></li>
                        <li><a href="tel:+911244077634">Contact: +91-124-4077634</a></li>
                        <li><a href="javascript:void(0)">GSTIN: 06AAGCN1228E1ZV</a></li>
                        <li><a href="javascript:void(0)">CIN: U63030HR2018PTC074774</a></li>
                    </ul>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 nsg-taxi-footer-link">
                    <br>
                    <br>
                    <h3 class="popular-searches-title">Popular Search</h3>
                    <div class="popular-searches-keywords text-capitalize text-center">
                        <%= keywords %>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <p class="nsg-taxi-social-icons">
                        <a href="https://twitter.com/nsg_taxi"><i class="icon-twitter2"></i></a>
                        <a href="https://www.facebook.com/NSGATAXI"><i class="icon-facebook2"></i></a>
                        <a href="https://www.instagram.com/nsg_taxi"><i class="icon-instagram2"></i></a>
                        <a href="https://www.linkedin.com/company/nsg-taxi/"><i class="icon-linkedin2"></i></a>
                    </p>
                    <p>&copy; <%= new Date().getFullYear(); %> NSG TAXI. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>