<!DOCTYPE html>
<html class="no-js">

<head>
	<% include ./includes/head-meta-tag.ejs %>
	<% include ./includes/head-link-tag.ejs %>
	<% include ./includes/head-script-tag.ejs %>
</head>

<body>
	<% include ./includes/body-no-script-tag.ejs %>
	<div id="nsg-taxi-wrapper">
		<div id="nsg-taxi-page">
			<% include ./includes/header.ejs %>
			<div id="nsg-taxi-about" class="nsg-taxi-section-gray">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
							<h3>About US</h3>
						</div>
						<div class="col-md-12 animate-box">
							<p>
								Starting our operations as mere taxi and car rental service providers till setting our
								benchmark as one amongst the leading agency in the entire industry. With the advancement
								of technologies, NSGA Travels Pvt. Ltd. Ensures to accumulate an elaborated account of
								information about the prevailing market prices and aims at providing excellent services
								by keeping our operating costs as low as possible along with passing the savings to our
								worthy customers.
							</p>
						</div>
						<div class="col-md-12 animate-box">
							<p>
								By offering an array of luxury travel car rental plans, our motive is to provide utmost
								ease to all our customers the best suitable plan and offer according to their pocket
								sizes, to choose from.
							</p>
						</div>
						<div class="col-md-12 animate-box">
							<p>
								Additionally, we offer our services not only for one trip but also for your round trip
								travel plans that too at most affordable prices to provide you with a memorable
								travelling experience which you’d cherish lifelong.
							</p>
						</div>
						<div class="col-md-12 animate-box">
							<p>
								Feeling jittery while planning your weekend gateway?
								Fret not, NSGA Travel Pvt. Ltd. Provides unbeatable outdoor can rental services which in
								turn helps users find best destinations to lay hands on without shedding much from their
								pockets!
							</p>
						</div>
						<div class="col-md-12 animate-box">
							<p>
								To all our travel junkies and globe trotters, we are now, offering various lucrative
								deals and offers for you to choose from and tame down all your travel temptations while
								relishing some quality time with your loved ones!
								Our foremost concern is the safety of each of our customer and hence, we ensure a stern
								quality check of all our cars along with running a close background and security test of
								all our drivers. We encompass a team of dedicated personnel having comprehensive
								knowledge to get through all your queries and concerns and assist you in every way
								possible.
							</p>
						</div>
						<div class="col-md-12 animate-box">
							<p>
								<strong>Why choose us?</strong><br>
								NSGA Travel Pvt. Ltd. started its operations with a mission of democratising the
								chauffer driven taxi travel by providing the most affordable and pocket-friendly cans
								and taxis for all your travel plans. However, striving to settle our roots in various
								counties and cities worldwide. <br>
								We expertise in:<br>
								- Delivering prompt and affordable services <br>
								- Efficient personnel with years of global and industrial exposure<br>
								- Unbeatable operating prices <br>
								- Ensuring quality and standards altogether <br>
								- Ensuring polished and improved services every passing day <br>
								- Round trip travel plans <br>
								- Pocket-friendly and economical travel plans and offers <br>
								- Array of options to choose from <br>
								- Stern background and security check <br>
								- Luxury cars <br>
								- Best inner-city commuting <br>
								- Safety and security of each of our worthy customer <br>
								We aim to improve our services each passing day to proffer the best of everything to all
								our customers. NSGA Travels Pvt. Ltd. Welcomes your recommendations and suggestions with
								open arms as we are always the first one to understand the needs and requirements of the
								customer and believe in offering them the same.
								Feel free to reach out to us by placing a call at <a
									href="tel:+911244077634">+91-124-4077634</a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<iframe src="https://www.google.com/maps/d/embed?mid=1hhXCW9atjcaMhtvkvu2xZabhID6tELYU" width="100%"
				height="450"></iframe>
			<% include ./includes/footer.ejs %>
		</div>
	</div>
	<% include ./includes/footer-script.ejs %>
</body>