<!DOCTYPE html>
<html class="no-js">

<head>
        <% include ./includes/head-meta-tag.ejs %>
        <% include ./includes/head-link-tag.ejs %>
        <link rel="stylesheet" type="text/css" href="/assets/css/privacy.css" />
        <% include ./includes/head-script-tag.ejs %>
</head>

<body>
        <% include ./includes/body-no-script-tag.ejs %>
        <div id="nsg-taxi-wrapper">
                <div id="nsg-taxi-page">
                        <% include ./includes/header.ejs %>
                        <div class="privacy-section">
                                <h3 class="p1 text-center"><strong>Cancellation Policy</strong></h3><br>
                                <p class="p2"><span class="s1">You may cancel your booking with us any time before your
                                                scheduled date and time
                                                of pickup. This may be done using the NSG TAXI Mobile App / Website by
                                                logging with your registered
                                                credentials or by calling us anytime on the 24x7 Customer Care Helpline
                                                <a hreflang="en" href="tel:+911244077634"
                                                        style="color: #339ad8;">+911244077634</a>.</span></p>
                                <p class="p2"><span class="s1">However, you may be liable to pay cancellation charges
                                                under the following
                                                circumstances:</span></p><br>

                                <p class="p4"><span class="s1"><strong>1. </strong>If your booking is cancelled within 2
                                                (four) hours of the
                                                scheduled pickup date and time, it shall be treated as a No-Show by the
                                                Customer. No refund shall be
                                                applicable in such cases and the entire Booking Amount shall be due as
                                                Cancellation Charges for the
                                                booking.</span></p><br>

                                <p class="p4"><span class="s1"><strong>2. </strong> If your booking is canceled before
                                                between 4 & 24 hours of
                                                the scheduled pickup date and time, a Cancellation Charge equivalent to
                                                15% of the Booking Amount or the
                                                actual Advance amount received from the Customer, whichever is less,
                                                shall be applicable. The balance,
                                                if any, shall be returned to the Customer within 10 working days.
                                                However, if the Customer views the Car
                                                & Driver details for the Booking at any time before the trip, no refund
                                                shall be applicable in the event
                                                of cancellation of the Booking.</span></p><br>

                                <p class="p4"><span class="s1">However, NSG TAXI maintains a Zero Cancellation Policy
                                                and this Cancellation
                                                Amount charged to the customer shall be credited to the Customer’s NSG
                                                TAXI account as NSG TAXI wallet
                                                (Credits), which may be redeemed in part/full with any other NSG TAXI
                                                Booking(s) in future. Usage of NSG
                                                TAXI wallet amount shall be subject to NSG TAXI wallet terms and
                                                conditions as laid down on our website
                                                <a hreflang="en" href="/"
                                                        style="color: #339ad8;">https://www.nsgtaxi.com</a>. A Customer
                                                may login to
                                                <a hreflang="en" href="/"
                                                        style="color: #339ad8;">https://www.nsgtaxi.com</a>, using his
                                                login
                                                credentials to check his NSG TAXI wallet Balance.</span></p><br>

                                <p class="p4"><span class="s1">If any reason your driver takes too long to get to you
                                                then the cancellation
                                                charge will be waived in
                                                the event of a cancellation request made at your end.</span></p><br>

                                <p class="p4"><span class="s1">If there is a No-Show from your end, i.e. you are not at
                                                the pickup location
                                                and/or your assigned Driver is unable to get in touch with you on your
                                                registered phone number on the
                                                scheduled pickup date and time, the Driver shall wait for a reasonable
                                                period of half an hour from the
                                                scheduled Booking time and thereafter we will treat the Booking as
                                                canceled with no refund.</span></p>
                                <br>

                                <p class="p4"><span class="s1">The onus shall be on the Customer to inform NSG TAXI at
                                                least 24 hours before the
                                                time of departure, for any delays or rescheduling of departure time and
                                                seek confirmation from NSG TAXI
                                                about the availability of the car at such rescheduled time.</span></p>
                                <br>

                                <p class="p1">&nbsp;&nbsp;</p>
                                <h4 class="p1"><strong>Refund Policy</strong></h4><br>

                                <p class="p4"><span class="s1">In the event of cancellation of your booking, we shall be
                                                issuing you a refund of
                                                the entire amount paid to us in advance for the given booking less
                                                applicable cancellation charges. To
                                                request a refund, simply contact us with your booking details within
                                                twenty (20) days of your purchase.
                                                Please include your Booking ID (sent to you via SMS and email after
                                                booking). Optionally, please tell us
                                                why you're requesting a refund – we take customer feedback very
                                                seriously and use it to
                                                constantly improve our offering and quality of service. Refunds are
                                                usually processed within 10 days
                                                from the date of request and are limited to the amount paid to us in
                                                advance for the given booking.
                                        </span></p><br>

                                <p class="p4"><span class="s1">Refunds are subject to Cancellation charges, if
                                                applicable (for details please
                                                refer to our Cancellation Policy above).</span></p><br><br>

                                <p class="p3"><span class="s1"><strong>Contact Information:</strong></span></p>
                                <p class="p6"><span class="s1">If you have any questions or suggestions regarding our
                                                cancellation or refund
                                                policy, please email us <a hreflang="en" href="mailto:info@nsgtaxi.com"
                                                        style="color: #339ad8;">info@nsgtaxi.com</a></span></p>
                        </div>
                        <% include ./includes/footer.ejs %>
                </div>
        </div>
        <% include ./includes/footer-script.ejs %>
</body>

</html>