<!DOCTYPE html>
<html class="no-js">

<head>
    <% include ./includes/head-meta-tag.ejs %>
    <% include ./includes/head-link-tag.ejs %>
    <link rel="stylesheet" type="text/css" href="/assets/css/privacy.css" />
    <% include ./includes/head-script-tag.ejs %>
</head>

<body>
    <% include ./includes/body-no-script-tag.ejs %>
    <div id="nsg-taxi-wrapper">
        <div id="nsg-taxi-page">
            <% include ./includes/header.ejs %>
            <div class="privacy-section">
                <h3 class="p1 text-center"><strong>Terms & Conditions</strong></h3><br>
                <p class="p2"><span class="s1">“Cab” as may be used in this document includes all categories of
                        transport vehicles like sedans, and any other vehicle meant for transporting passengers.</span>
                </p><br>

                <p class="p5"><span class="s1"><strong>1. </strong> “Cab Operator” means all the cab operators providing
                        their vehicles along with their drivers.</span></p><br>

                <p class="p5"><span class="s1"><strong>2. </strong>TYPES OF CAB BOOKINGS FACILITATED BY NSGA</span></p>
                <br>

                <p class="p5"><span class="s1"><strong>3. </strong> Outstation Cab: This enables User(s) to book
                        vehicles operated by cab operators having All India Tourist Permit (AITP) vehicles and operating
                        between two separate cities. On the basis of the demand/requirement of the User, NSGA as a
                        facilitator connects the User with the concerned cab operator.</span></p><br>

                <p class="p5"><span class="s1"><strong>4. </strong>ROLE OF NSGA AND LIMITATION OF LIABILITY</span></p>
                <br>

                <p class="p5"><span class="s1"><strong>5. </strong> NSGA does not operate cab services on its own. In
                        order to provide a comprehensive choice of cab services, cab types and prices to User, it has
                        tied up with many Cab Operators.</span></p><br>

                <p class="p5"><span class="s1"><strong>6. </strong> NSGA acts only acts a facilitator between the Cab
                        Operator and User. The transaction is always between the Cab Operator and the User.</span></p>
                <br>

                <p class="p5"><span class="s1"><strong>7. </strong> It is the sole responsibility of the Cab Operator to
                        ensure it has all the requisite licenses, approvals, insurance and permits from appropriate
                        authorities required to undertake the travel booked. NSGA gives no warranty or assurance in
                        regard to requisite licenses, approvals, insurance and permits which the Cab Operator is
                        supposed to obtain from appropriate authorities.</span></p><br>

                <p class="p5"><span class="s1"><strong>8. </strong> NSGA will not be liable to User or to any other
                        person for any direct, indirect, incidental, punitive or consequential loss, damage, cost or
                        expense of any kind whatsoever and howsoever caused from out of the information derived by User
                        through usage of Website, in so far as such information is provided by the Cab Operator.</span>
                </p><br>

                <p class="p5"><span class="s1"><strong>9. </strong> In case of break down or accident of Cab where Cab
                        Operator has been unable to make alternative arrangement, NSGA shall provide proportionate
                        refund to User for uncovered distance. Any claims, liabilities or legal costs arising out of
                        such event shall be borne by the Cab Operator.</span></p><br>

                <p class="p5"><span class="s1"><strong>10. </strong> PAYMENT FOR BOOKINGS AND ANY ADDITIONAL
                        PAYMENTS</span></p><br>

                <p class="p5"><span class="s1"><strong>11. </strong> Expenses like toll charges, permit charges, parking
                        charges, entry fees, Service Tax & any other Government Tax as per Government guidelines are to
                        be borne by the User and paid directly to the driver.</span></p><br>

                <p class="p5"><span class="s1"><strong>12. </strong> The estimate cost provided at the time of booking
                        is not to be construed as the final pricing for your trip unless specifically indicated. The
                        final amount for your trip will be calculated based on actual usage (number of Kilometers and
                        hours). Distance and time are calculated from garage to garage and not from the pick-up of the
                        User for both within city and outside city trips.</span></p><br>

                <p class="p5"><span class="s1"><strong>13. </strong> The travel allowance wherever applicable has to be
                        paid directly to the driver.</span></p><br>

                <p class="p3"><span class="s1"><strong>Contact Information:</strong></span></p>
                <p class="p6"><span class="s1">If you have any questions or suggestions regarding our terms &
                        conditions, please email us <a hreflang="en" href="mailto:info@nsgtaxi.com"
                            style="color: #339ad8;">info@nsgtaxi.com</a></span></p>
            </div>
            <% include ./includes/footer.ejs %>
        </div>
    </div>
    <% include ./includes/footer-script.ejs %>
</body>

</html>